body{
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-size:22%;
    background-color: rgba(78, 160, 255, 1);   
}

#logo{
    width: 150px;
    margin-top: 35px;
    margin-bottom: 5px;
}

main{
    margin-top: 10px;
}

h1{
    margin-right: 40%;
    margin-bottom: 1px;
}

#scritto{ 
 color: rgba(129, 129, 129, 1);
}

#booleaner{
    color:rgba(154, 217, 244, 1);

}

#data{
    color: rgba(129, 129, 129, 1);
    margin-top: 2px;
}

.tim1{
    height: 473px;
    
    
}
.tim2{
    width: 45%;
}

#firstphoto{
    font-size: 10px;
    margin: auto;
}

#secondphoto{
    font-size: 10px;
    margin: auto;
}

#lorem{
    background-color: yellow;
}

#headtable{
    color: white;
    background-color: rgba(32, 169, 229, 1);
}

table{
    border-collapse: collapse;
    text-align: center;
}

tbody{
    background-color: rgba(154, 217, 244, 1);
}

#bodywhite{
    background-color: white;
}

#initial{
    text-align: initial;
}

.big{
    width: 50%;
    text-align: initial;
}